.comment {
  display: flex;
  gap: 0.62rem;
  border-bottom: 1px solid #f2f2f2;
  padding: 0.94rem 0 0.81rem 0;
}
.avatar-comment {
  width: 2rem;
  height: 2rem;
  margin-top: 0.4rem;
}
.stars-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.44rem;
}

.stars-section {
  img {
    width: 4.1055rem;
    height: 0.625rem;
  }
}
.comment-content {
  flex-grow: 1;
  p {
    color: #404040;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 188.6%;
  }
}
.username-comment {
  color: #808080;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.date-comment {
  color: #bfbfbf;
  font-size: 0.625rem;
  font-style: normal;
}
