.edit-info,
.already-rated {
  display: flex;
  gap: 0.62rem;
  padding: 0.75rem 0;
  p {
    color: #000;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
  span {
    color: #a6a6a6;
    text-align: right;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
  }
}
.already-rated {
  span {
    color: var(--primary-color);
  }
}
.red-box {
  position: relative;
  height: 4rem;
  border-radius: 0.25rem;
  background-color: #fde3e3;
  padding: 0.5rem 1.94rem 0.38rem 0.38rem;
  p {
    line-height: 1.4375rem;
    color: #eb5757;
    font-size: 0.75rem;
  }
  &::before {
    position: absolute;
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background-color: #eb5757;
    opacity: 0.5;
    border-radius: 50%;
    top: 13px;
    right: 8px;
  }
}
