.handle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
}
.handle {
  width: 1.37406rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: var(--Light-04, #e0e0e0);
}
