.routing-input-wrapper {
  input {
    background-color: var(--light-background);
    padding: 0.5rem 0.95rem;
    border: 1px solid #d9d9d9;
    width: 20.875rem;
    height: 2.375rem;
    border-radius: 8px;
    &:focus {
      outline: 1px solid var(--primary-color);
    }
    &:hover {
      outline: 1px solid var(--primary-color);
    }
  }
}

@media only screen and (max-width: 768px) {
  .routing-input-wrapper {
    width: 100%;
    input {
      background-color: #fff;
      border: none;
      width: 100%;
      font-size: 1rem;
      padding: 0;
      &:focus {
        outline: none;
      }
      &:hover {
        outline: none;
      }
      &::placeholder {
        font-size: 1rem;
      }
    }
  }
}
