.toggler-wrapper {
  display: flex;
  width: 3rem;
  padding: 0.84375rem 0.61606rem 1.03125rem 0.61606rem;
  justify-content: center;
}
//the main subtitle styles are in Plan.scss
.subtitle.avoid-tolls {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  span {
    font-size: 0.6875rem;
    color: var(--light-txt);
    font-weight: 500;
  }
}
.plan.avoid-toll {
  align-items: unset;
}
//checkbox css
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 34px; /* Width of the checkbox container */
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Checkbox background */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px; /* Width of the checkbox */
  height: 12px; /* Height of the checkbox */
  background-color: #2d96ff;
  border-radius: 6px;
  opacity: 0.16;
  transition: background-color 0.3s ease;
}

/* Checkbox toggle (circle) */
.circle-toggle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px; /* Diameter of the circle */
  height: 18px; /* Diameter of the circle */
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
  transform: translateX(-6px); /* Start position on the left */
}

/* Show the toggle and move it when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #1976d2; /* Change background color when checked */
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark + .circle-toggle {
  transform: translateX(50%); /* Move toggle to the right */
}
/* Change circle color when checkbox is unchecked */
.custom-checkbox input[type="checkbox"]:not(:checked) + .checkmark + .circle-toggle {
  background-color: #ccc; /* Change circle color when unchecked */
}

@media only screen and (max-width: 768px) {
  .subtitle.avoid-tolls {
    span {
      font-weight: 500;
      font-size: 0.8125rem;
    }
  }
}
