.service-btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 28px;
  -webkit-text-fill-color: #000;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  display: flex;

  margin: auto 4px;
  padding: 0 7px 0 12px;
  transition: all 0.3s;
  img {
    height: 16px;
    width: 16px;
    filter: brightness(0) invert(0);
  }
  span {
    margin-right: 7px;
    white-space: nowrap;
    font-size: var(--regular-f);
    font-weight: 400;
  }
}
@media only screen and (max-width: 768px) {
  .service-btn {
    height: 35px;
    border: none;
  }
}
