.service-btns {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.services-container {
  align-items: center;
  display: flex;
  transition: 0.5s;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 16px;
}
.revealer-btn {
  background: linear-gradient(
    271deg,
    hsla(0, 0%, 96%, 0),
    hsla(0, 0%, 100%, 0.5) 5%,
    hsla(0, 0%, 100%, 0.75) 10%,
    #fff 30%
  );
  position: absolute;
  left: 0;
  right: unset;
  border: none;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-43%);
  width: 45px;
  margin-left: -16px;
  z-index: 1;
  align-items: center;
  img {
    height: 16px;
    margin-top: -1px;
    -o-object-fit: contain;
    object-fit: contain;
    width: auto;
    transform: rotate(180deg);
  }
}
.revealer-btn.right {
  right: 0;
  background: linear-gradient(
    93deg,
    hsla(0, 0%, 96%, 0),
    hsla(0, 0%, 100%, 0.5) 5%,
    hsla(0, 0%, 100%, 0.75) 10%,
    #fff 30%
  );
  transform: translateY(-43%);
  margin-right: -16px;
  img {
    transform: rotate(358deg);
  }
}
.services-container.right {
  transform: translateX(137px) translateZ(0px);
}
@media only screen and (min-width: 768px) {
  .service-btns {
    margin-top: 0.3rem;
    min-height: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .revealer-btn {
    display: none;
  }
  .service-btns {
    padding: 0 12px;
    margin-bottom: 8px;
  }
  .services-container {
    margin: unset;
    overflow-x: auto;
  }
  .services-container::-webkit-scrollbar {
    display: none;
  }
  .services-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .services-container.right {
    transform: none;
  }
}
