.exp-top {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
  img {
    padding-top: 0.1rem;
  }
}
.exp-text {
  p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
  }
  span {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
  }
}
.exp-metrics {
  display: flex;
  gap: 0.3rem;
  img {
    padding-bottom: 0.1rem;
  }
}
.exp-sub {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}
.bottom-sheet-rating.expanded {
  margin: unset;
  padding-top: 0.1rem;
}
.expanded-sheet-desc {
  position: relative;
}
.add-img-btn {
  span {
    font-size: 1rem;
  }

  background-color: white;
  position: absolute;
  top: -3rem;
  left: 0.6rem;
  display: flex;
  height: 3rem;
  padding: 0.75rem 1.5rem 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-color);
  border-radius: 6.1875rem;
  border: 1.5px solid var(--primary-color);
}
