.place {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  span {
    font-size: var(--regular-f);
    font-weight: 500;
  }
}
@media only screen and (max-width: 768px) {
  .place {
    span {
      font-size: 1rem;
    }
  }
}
