.mobile-main-input-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  height: auto;
  justify-content: space-between;
  padding-left: 16px;
  align-items: center;
  display: flex;
  pointer-events: auto;
  margin: 1rem;
  width: 95%;
}
.mobile-main-input {
  -webkit-text-fill-color: rgb(64, 64, 64);
  background-color: transparent;
  border: none;
  color: rgb(64, 64, 64);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  margin-top: 2px;
  padding: 26px 22px;
  text-align: right;
  transition: all 0.1s ease 0.1s;
  user-select: text;
  width: 100%;
  -webkit-text-fill-color: #404040;
  background-color: transparent;
  border: none;
  color: #404040;

  &:focus {
    outline: none;
  }
}
