.comments-title {
  color: #000;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.31rem;
}
.show-more-comments-btn {
  width: 9.5625rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #b6d9ff;
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 700;
}
.button-comment-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1.1rem;
}
.all-comments div:last-child {
  border: none;
}
