.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-switch {
  display: flex;
  width: 9.3rem;
  height: 2rem;
  padding: 0.2rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.8px solid #f5f5f5;
  background: #fff;
}
.plan-btn {
  display: flex;
  padding: 0.35rem 1.1rem 0.4rem 1.1rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  white-space: nowrap;
  font-size: var(--small-f);
  height: 1.6rem;
  width: 4.45rem;
  color: var(--light-txt);
}
.plan-btn.active {
  border-radius: 0.4rem;
  border: 1.2px solid var(--primary-color);
  background: #e8f1fb;
  color: var(--primary-color);
}
.title {
  font-weight: 500;
  font-size: var(--regular-f);
  margin-bottom: 0.25rem;
}
.subtitle {
  font-size: 0.6875rem;
  color: var(--light-txt);
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .content-switch {
    display: flex;
    width: 11.625rem;
    height: 2.75rem;
    padding: 0.25rem;
    align-items: center;
  }
  .plan-btn {
    display: flex;

    padding: 0.4375rem 1.375rem 0.5rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    font-weight: 500;
    font-size: 1rem;
    flex: 1 0 0;
    height: 2.2rem;
  }
  .plan-btn.active {
    border-radius: 0.5rem;
    border: 1.5px solid var(--primary-color);
    background: #e8f1fb;
  }
  .title {
    font-weight: 500;
    font-size: 1rem;
  }
  .subtitle {
    font-size: 0.8125rem;
    font-weight: 500;
  }
}
