.main-desc-text {
  fill: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  height: 8.125rem;
  margin-top: 0.5rem;
  padding-top: 0.87rem;
  padding-right: 1.19rem;
  padding-left: 1.44rem;
}
.main-desc-titles {
  display: flex;
  align-items: flex-start;
  gap: 0.62rem;
  p {
    font-size: 1.125rem;
    color: black;
    font-weight: 700;
  }
}
.num-info {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 0.875rem;
}
.metric-info {
  font-weight: 400;
  color: var(--light-txt);
  padding-right: 0.2rem;
}
.metrics-info {
  display: flex;
  align-items: center;
}
.duration-info {
  display: flex;
  padding-top: 0.2rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.3rem;
}
.num-metric-info {
  display: flex;
  align-items: center;
  gap: 3px;
}
