.route-setting-btn {
  display: inline-flex;
  height: 2.5rem;
  padding: 0.375rem 0.5rem 0.375rem 0.75rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  color: #262626;
  font-size: var(--regular-f);
  font-weight: 700;
  border-radius: 3.125rem;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 13.5rem;
  right: 1rem;
}
