.places-search {
  border-top: 1px solid #f5f5f5;
  justify-content: center;
  margin: 12px 16px 0 22px;
  align-items: center;
  background: #fff;
  display: flex;
  margin-bottom: 6px;
  padding: 12px;
  width: 100%;
}
.places-search div:nth-child(3) {
  color: var(--primary-color);
  gap: 0.4rem;
}
.places-search div:nth-child(1) {
  color: var(--primary-color);
}
.vert-search-pl {
  background: #d9d9d9;
  margin: 0 12px 0 8px;
  width: 2px;
  height: 26px;
}
@media screen and (max-width: 768px) {
  .places-search {
    margin: unset;
    justify-content: flex-start;
    padding: 16px 12px;
  }
}
