.expanded-text-icon {
  height: 3.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 0.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    p,
    span {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
    }
  }
}
