.search-loc-result-wrapper-info {
  cursor: pointer;
  display: flex;
  width: 100%;
  gap: 0.4rem;
  img {
    width: 20px;
    height: 20px;
  }
}
.search-loc-result-container-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
}
.title-loc-result-info {
  -webkit-text-fill-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  min-width: 200px;
  text-align: right;
}
.subtitle-loc-result-info {
  -webkit-text-fill-color: gray;
  color: gray;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 3px;
  text-align: right;
}
.type-loc-result-info {
  -webkit-text-fill-color: rgb(64, 64, 64);
  color: rgb(7, 7, 7);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-align: right;
}
