.input-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
}
.switch-wrapper {
  width: 1.5rem;
  height: 1.5rem;
}
.input-divider {
  display: none;
}

@media only screen and (min-width: 768px) {
  .inputs-wrapper.focus-origin div:nth-child(1) {
    input {
      outline: 1px solid var(--primary-color);
    }
  }
  .inputs-wrapper.focus-dest div:nth-child(3) {
    input {
      outline: 1px solid var(--primary-color);
    }
  }
}
@media only screen and (max-width: 768px) {
  .input-field {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0.75rem 0 0.75rem;
    height: 6rem;
    padding: 0 0.56rem;
    padding-top: 0.2rem;
    gap: 0;
    position: relative;
    z-index: 1;
  }
  .nav-icon {
    display: none;
  }
  .inputs-wrapper {
    flex: 1;
    gap: unset;
  }
  .switch-wrapper {
    max-width: 1.5rem;
  }
  .back-btn {
    max-width: 1.5rem;
    margin-top: -41px;
    margin-left: 0.3rem;
  }
  .input-divider {
    display: block;
    height: 1px;
    width: 98%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.08);
    margin: 0.2rem 0 0.4rem 0;
  }
  .mobile-nav-icon {
    margin-left: 0.3rem;
  }
}
