.info-bottom-sheet {
  height: 20rem;
  position: absolute;
  width: 100%;
  bottom: -200%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background-color: #fff;
  transition: bottom 0.4s ease-in-out;
  transition: height 0.6s ease;
}
.info-bottom-sheet.hide {
  bottom: -200%;
}
.info-bottom-sheet.show {
  bottom: 0;
}
.info-bottom-sheet.expand {
  height: 100vh;
  overflow-y: auto;
}
.info-bottom-sheet.minimize {
  height: 20rem;
  overflow-y: hidden;
}
.info-bottom-sheet.expand::-webkit-scrollbar {
  display: none;
}
.info-bottom-sheet.expand {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.narrow-img-container {
  width: 100%;
  height: 5.6875rem;
}
.narrow-img {
  border-radius: 0.5rem 0.5rem 0rem 0rem;

  object-fit: cover;
  width: 100%;
  height: 100%;
}
.close-info-bs {
  position: absolute;
  bottom: 19.5rem;
}
