.work-hours-container {
  display: flex;
  align-items: center;
  height: 4.13rem;
  gap: 0.62rem;
  border-bottom: 1px solid #f2f2f2;
}
.work-hours-text {
  div {
    display: flex;
  }
  p {
    color: #000;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .colored-open {
    color: #5cd88e;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    padding-right: 0.9rem;
  }
  .colored-corona {
    text-wrap: nowrap;
    padding-top: 0.1rem;
    color: #ffae34;
    text-align: right;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
