.vehicle-icon-section {
  display: flex;
  align-items: center;
  padding-right: 1.38rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.vehicle-iconset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  padding-right: 0px;
}
.x-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  img {
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .vehicle-icon-section {
    padding: unset;
    justify-content: center;
    margin-bottom: unset;
  }
  .x-icon-wrapper {
    display: none;
  }
}
