.main-routing-btn {
  border-radius: 50px;
  height: 52px;
  width: 52px;
  background-color: #1976d2;
  transition: 0.3s;
  filter: drop-shadow(3.04494px 3.04494px 10.1498px rgba(0, 0, 0, 0.18));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  img {
    height: 24px;
    width: 24px;
  }
}
