.detail-card {
  display: flex;
  padding: 0.75rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #f5f5f5;
  gap: 0.5rem;
}
.tilt-btn {
  display: flex;
  padding: 0.375rem 0.625rem 0.375rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 3.125rem;
  border: 1px solid #e5e5e5;
  font-size: var(--regular-f);
  font-weight: 500;
}
.num {
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.metric {
  font-weight: 400;
  color: #262626;
}
.duration-container {
  display: flex;
  align-items: center;
}
.duration {
  display: flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.num-metric {
  display: flex;
  align-items: center;
  gap: 3px;
}
@media only screen and (max-width: 768px) {
  .dir-detail {
    font-size: 1rem;
  }
  .metric,
  .num {
    font-size: var(--regular-f);
  }
  .tilt-btn {
    font-size: 1rem;
  }
}
