.info-sidebar {
  transition: all 0.3s ease-in-out;
  width: 0;
  background: #fff;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.info-sidebar.open {
  width: 21.25rem;
}
.info-sidebar::-webkit-scrollbar {
  display: none;
}
.routing-sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.info-sidebar-container {
  padding: 0 1.19rem 0 1.44rem;
}
.divider-info {
  border: 1px solid #f2f2f2;
  margin-top: 1rem;
}
.info-sidebar {
  .divider {
    margin: 2.94rem 0 2rem 0;
  }
}
.close-infobox-btn {
  position: absolute;
  right: 20.5rem;
  top: 0.5rem;
}
