.info-searched-locations {
  padding-top: 1.5rem;
  width: 100%;
  height: 100%;
}

.info-searched-locations {
  overflow-y: scroll;
}
.info-searched-locations {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.info-searched-locations::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .info-searched-locations {
    background-color: #fff;
    margin-top: 0.7rem;
    padding: 1rem 0.7rem 1rem 0.7rem;
  }
}
