.sidebar-text-field {
  .main-text-desc-subtitle {
    color: var(--light-txt);
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text-rate-container {
    margin: 0.21rem 0;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    span {
      color: var(--light-txt);
      text-align: right;
      padding-top: 0.17rem;
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 400;
    }
  }
}
