.route-setting-menu {
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0;
  padding: 0rem 1rem 0.875rem 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background-color: #fff;
  transition: bottom 0.4s ease-in-out;
}
.route-setting-menu.show {
  bottom: 0;
}
.title-sec {
  display: flex;
  padding: 0.75rem 0rem 1.41rem 0rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  span {
    font-size: 1rem;
    font-weight: 700;
  }
}
