.routing-sidebar {
  height: 100%;
  width: 26.25rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  transform-origin: right;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  padding: 2rem 1rem;
}

.routing-sidebar::-webkit-scrollbar {
  display: none;
}
.routing-sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.divider {
  width: 26.25rem; //same width as the sidebar
  margin: 0.75rem 0;
  margin-right: -1rem; //get rid of the sidebar padding
  height: 0.5rem;
  min-height: 0.5rem;
  background: #f6f6f6;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16) inset;
}

@media only screen and (max-width: 768px) {
  .routing-sidebar {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.18));
    position: fixed;
    left: 0;
    top: unset;
    height: 13rem;
    bottom: 0;
    padding: 0 0.5rem 0.88rem 0.5rem !important;
    width: 100%;
    background-color: white;
    transition: bottom 0.3s ease-in-out;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.4s ease; /* Add smooth transition effect */
    overflow-y: auto;
  }
  .routing-sidebar.expanded {
    height: 100vh;
  }
  .routing-sidebar.collapsed {
    height: 13rem;
  }
  /* Styling for the open state */

  .routing-sidebar.hide {
    bottom: -100%;
  }
  /* Styling for the content */
  .bottom-sheet-content {
    padding: 16px;
  }
}
