.expanded-sheet {
  height: 100vh;
  background-color: #fff;
}
.mock-img-container {
  display: flex;
  height: 12.5rem;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.mock-img-container::-webkit-scrollbar {
  display: none;
}
.mock-img-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

.mock-img {
  flex-shrink: 0;
  width: 17rem;
  height: 12.5rem;
  background-color: rgba(129, 153, 203, 0.12);
}
.expanded-sheet-container {
  padding: 0 0.5rem;
}
.expanded-sheet-container.comments {
  padding: 0 0.8rem;
}
.exp-divider {
  height: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: #f5f5f5;
  margin-top: 1.25rem;
}
.exp-divider.lower {
  margin-top: unset;
  margin-bottom: 1rem;
}
.close-bttm-sheet {
  position: absolute;
}
