.info-box-search {
  -webkit-text-fill-color: #404040;
  border: none;
  color: #404040;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  padding: 0 5px;
  text-align: right;
  transition: 0.1s;
  transition-delay: 0.1s;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  width: 100%;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-weight: 300;
  }
}

.main-input-wrapper {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 8px;
  pointer-events: auto;
  width: 100%;
}
.main-input-wrapper.gray-field {
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 8px;
  pointer-events: auto;
  box-shadow: none;
  width: 100%;
}
.navigation-icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 24px;
  }
}
.main-hor-line {
  border-left: 1px solid #d9d9d9;
  height: 100%;
  margin-right: 5px;
  margin-left: 7px;
  padding: 0;
  width: 0;
}
.close-i-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
}
