.divider.search-page {
  margin: unset;
}
.side-module-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  height: 40px;
  padding: 0;
  right: 27px;
  top: 27px;
  width: 388px;
  align-items: center;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 0.5s;
  transition-delay: 0.2s;
  transform: right 1s ease;
  width: 420px;
  z-index: 0;
}
.side-module-container.open {
  border-radius: 0;
  height: 100vh;
  transform: translateX(11px) translateY(-11px);
  transition: 0.5s;
  padding: 16px;
  pointer-events: auto;
  position: fixed;
  right: 11px;
  top: 11px;
}
.side-module-container.route-open-s {
  border-radius: 0;
  height: 100vh;
  transform: translateX(11px) translateY(-11px);
  transition: 0.5s;
  padding: 16px;
  pointer-events: auto;
  position: fixed;
  right: 11px;
  top: 11px;
  width: 420px;
}
.side-module-container.width-close {
  right: -100%;
}
