.text-icon {
  display: flex;
  align-items: center;
  gap: 0.62rem;
  min-height: 3rem;
  padding: 0.2rem 0;
  border-bottom: 1px solid #f2f2f2;

  p {
    color: #000;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
