.rate-box {
  height: 9.3125rem;
  background: #fafafa;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.88rem;
  justify-content: center;
  p {
    padding-left: 1.5rem;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  input {
    width: 17.60369rem;
    height: 2.0625rem;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 0 0.74rem;
    text-align: right;
    &:focus {
      outline: none;
    }
  }
}
