.vehicle-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.125rem;
  align-self: stretch;
  background-color: var(--light-background);
  border-radius: 0.36538rem;
  width: 3.775rem;
  height: 3.625rem;

  cursor: pointer;
  span {
    font-weight: 400;
  }
  img {
    width: 24px;
    height: 24px;
  }
}
.vehicle-icon-container.active {
  outline: 1px solid var(--primary-color);
  span {
    color: var(--primary-color);
  }
}
