.bottom-sheet-btn {
  padding-right: 0.54rem;
  padding-left: 0.94rem;
  height: 2.3125rem;
  border-radius: 1.22813rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: 1px solid var(--primary-color);
  span {
    font-size: 0.9rem;
    font-weight: 700;
  }
}
