.show-btn-bottom-sheet {
  width: 4.6875rem;
  height: 1.5rem;
  color: var(--primary-color);
  background: rgb(25, 118, 210, 0.1);
  border-radius: 1.84219rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.42rem;
  img {
    padding-top: 0.3rem;
  }
}
.main-mobile-desc {
  padding: 0 0.8rem;
  margin-top: 1rem;
}
.bottom-sheet-sub {
  padding-right: 1.5rem;
  margin: 0.1rem 0;
  span {
    color: black;
    font-size: 0.75rem;
  }
}
.bottom-sheet-sub span:nth-child(2) {
  color: #00b798;
}
.main-mobile-desc-title {
  display: flex;
  padding-right: 0px;
  align-items: center;
  gap: 0.25rem;
  justify-content: space-between;
}
.bottom-sheet-rating {
  padding-right: 1.5rem;
  margin-bottom: 0.6rem;
}
.sheet-text-icon {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  p {
    font-size: 1.125rem;
    color: black;
    font-weight: 700;
  }
}
.bottom-icon-txt {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.number {
  font-weight: bold;
}
.bottom-info-durations {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  div {
    display: flex;
    gap: 0.2rem;
    span {
      font-size: 0.875rem;
    }
  }
}
