@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap");
:root {
  --primary-color: #1976d2;
  --main-txt: #404040;
  --light-txt: #808080;
  --lighter-txt: #bfbfbf;
  --light-background: #f5f5f5;

  --small-f: 0.75rem;
  --regular-f: 0.875rem;
}

//global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  user-select: none;
  overflow: hidden;
}
span {
  font-size: var(--small-f);
  font-weight: 500;
}
p {
  font-size: var(--regular-f);
  font-weight: 500;
}
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
input {
  font-family: inherit;
}
#map {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
