.mobile-search-page {
  background: #f5f5f5;
  height: 100vh;
  left: 0;
  pointer-events: auto;
  position: absolute;
  width: 100vw;
  z-index: 3;
}
.mobile-main-input-p {
  background: #fff;
  border: 0;
  border-radius: 14px;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 14px;
  &:focus {
    outline: none;
  }
}
.search-page-input-wrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin: 12px;
  padding: 0 16px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
