.places {
  margin-top: 1.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.375rem;
}
.places div:nth-child(3) {
  color: var(--primary-color);
  gap: 0.4rem;
}
.hor-line-places {
  margin: 0.75rem 0;
}
